.map {
	display: none;
}
.contact-content {
	margin-bottom: 2em;
	.contact-info {
		.sm {
			a {
				font-size: 1.4em;
			}
		}
	}
	.contact-form {
		padding-top: 2em;
		.form {
			.btn {
				margin: auto;
				display: block;
			}
		}
		.msg {
			display: none;
			position: relative;
			height: 440px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			p {
				position: absolute;
				top: 44%;
			}
			.ok {
				color:green;
			}
			.fail {
				color:red;
			}
		}
	}
}

@media screen and (min-width:900px) {
	.map {
		margin-bottom: 1em;
		display: block;
	}
	.contact-content {
		display: flex;
		.contact-info {
			padding: 1em;
			padding-left: 0;
		}
		.contact-form {
			padding-top: 0px;
			border-left: 1px solid #ccc;
			padding: 1em;
			padding-right: 0;
		}
	}	
}